html, body{
    height: 100vh;
}

header span, footer span{
    color: rgb(0, 0, 0);
}

span{
    color: rgb(255, 255, 255);
}

.text-Color{
    color: rgb(177, 177, 177);
}

header .text-Color{
    color: rgb(105, 105, 105);
}

.fotoPerfil{
    position: relative;
    overflow: hidden;
    width: 180px;
    height: 180px;
    border-radius: 100%;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}